@import 'mixins/mixins';

@import 'variables/variables';

.matomo-optin-dialog-wrap {
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.7);
	transition:opacity 0.7s;
	opacity: 0;
	z-index:99999;
	[data-allow-matomo-tracking="unknown"] & {
		opacity:1;
	}
	[data-allow-matomo-tracking="yes"] &,
	[data-allow-matomo-tracking="no"] &{
		display:none;
	}
}
.matomo-optin-dialog {
	max-width:700px;
	min-width:320px;
	position:relative;
	margin:0 auto;
	top:-100vh;
	transition: top 1s ease-out 1s;
	background:#fff;
	padding:2em;
	[data-allow-matomo-tracking="unknown"] & {
		top:10vh;
	}
}
